.card {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
    margin: 20px 0;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.card h3 {
    font-size: 1.1rem;
    color: #333;
    text-align: center;
    margin: 12px 0;
    padding: 0 10px;
}

.card img {
    width: 100%;
    object-fit: cover;
}
.card img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

/* さらに小さい画面（例：iPhone SE等）への対応 */
@media (max-width: 480px) {

    .card h3 {
        font-size: 1rem;
        margin: 10px 0;
    }

}
    