.topbar {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #60c09c;
    position: sticky;
    top: 0;
    z-index: 100;
}
.topbar a {
    text-decoration: none;
}
.topbar span {
    margin-left: 2em;
    font-size: 2em;
    font-weight: bold;
    color: white;
}
.topbar-right {
    height: 100%;
    width: 35em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 0.5em;
}
.topbar-right a {
    text-decoration: none;
    color: white;
    margin-right: 20%;
    transition: 0.5s;
}
.topbar-right a:hover {
    color: var(--base-color-5);
    transition: 0.2s;
    opacity: 0.5;
}